@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    // border: 1px solid red;
}
body{
     overflow-x: hidden; 
}
@mixin fontSize {
    font-size: 1.3rem;
    font-weight: 700;
}

@mixin color-grey {
    color: #797979;
}

main,
.footer__grid,
.header__container,
.header__container-second {
    max-width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.header {
    background-color: #000000;
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
}

h1 {
    font-family: "Dela Gothic One", sans-serif;
    display: flex;
    font-size: 3rem;
    font-weight: bold;
    margin: 2rem 0;
    
    @media (max-width:1000px){
            font-size: 2.5rem;
    }
    @media(max-width:580px){
            font-size: 1.8rem;
        }
}



main {
    margin: 3rem auto;

    @media (max-width:1400px){
            padding: 1rem;
    }
}

.header__content-info,
.header__content-language {
    display: flex;
    gap: 4rem;
    padding: 1rem;
}


.header__navigation {
    display: flex;
    justify-content: center;

    .title-nav {
        display: flex;
        gap: 3rem;
        text-transform: uppercase;
        cursor: pointer;
        transition: opacity 0.3s;
    }
}

.title-nav li:hover {
    opacity: 0.8;
}


.header-second {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

}



/* Стили для поиска */
.search-container {
    position: relative;
}

.search-input {
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 25px;
    cursor: pointer;
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}


.cart-count {
    position: absolute;
    top: -5px;
    left: 20px;
    background: #fff;
    color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container-hidden {
    display: none;
}

// КОРЗИНА
.cart-button {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #000;
    border-radius: 30px;
    color: white;
}

.cart-count {
    position: absolute;
    top: -5px;
    left: 15px;
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}


// БУРГЕР КНОПКА 

.burger {
    width: 30px;
    z-index: 10;
    
}

.burger__container {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
}

.header-mobile-container {
    width: 100%;

}

.line {
    display: block;
    background-color: #000;
    height: 3px;

    &::before {
        transform: translateY(-6px);
    }

    &::after,
    &::before {
        content: '';
        display: block;
        background-color: #000;
        height: 2px;
        transition: all 0.5s ease-in-out;
    }

    &::after {
        transform: translateY(5px);

    }
}

.open {
    .line {
        background-color: transparent;

        &::before {
            transform: rotate(45deg) translate(0, 0);
            background-color: whitesmoke;
        }

        &::after {
            transform: rotate(-45deg) translate(0, 0);
            background-color: whitesmoke;
        }
    }
}


@media (max-width: 1000px) {
    .burger__container {
    display: flex;    
}
    .header{
        display: none;
    }
    .header-second {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: #000000;
        z-index: 9;
        gap: 2rem;
        transform: translateX(100%);
        transition: transform 0.6s ease;
        color: white;

        &.active{
            transform: translateX(0);
        }

    }
    .header__navigation .title-nav{
        flex-direction: column;
        gap: 0.8rem;
        padding: 1rem;
    }
    .header-logo{
        display: none;
    }
    
}

.grid__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 25px;


    img {
        width: 100%;
    }

    p {
        font-size: 1.2rem;
    }

    @media(max-width:1000px){
        grid-template-columns: repeat(3, 1fr);
    }
    @media(max-width:770px){
        grid-template-columns: repeat(2, 1fr);
    }
    
}

.current-price {
    color: red;
    @include fontSize;
}

.old-price {
    text-decoration: line-through;
    color: #828380;
    font-size: 1.3rem;
}

.price {
    @include fontSize;
}




.footer {
    background-color: #000;
    padding: 30px 15px;

    @media(max-width:1000px){
        // padding: 30px 6rem;
    }
    
    a,
    p {
        margin: 10px 0;
    }

    &__grid {
        gap: 30px;
        max-width: 1440px;
        display: flex;
        justify-content: space-between;

        @media(max-width:1000px){
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
        @media(max-width:580px){
            display: grid;
            grid-template-columns: 1fr;
            padding: 30px 5rem;
        }
    }

    &__block {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .footer__logo {
        width: 239px;
    }

    .right {
        align-items: end;
        text-align: end;
            @media (max-width:1000px){
                text-align: left;
                align-items: start;
            }
    }

    .footer__docs {
        a {
            display: block;
        }
    }

    .footer__payments {
        display: flex;
        align-items: center;
        gap: 15px
    }
}

.footer__policies,
.footer__docs {

    a,
    p {
        @include color-grey;
    }
}

.footer__policies {
    p {
        width: 322px;
    }
}

.footer__list {
    li {
        margin: 10px 0;
    }
}

.product__card-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.content__button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    text-align: center;
    background-color: rgba(248, 248, 248, 0.6);
    opacity: 0;
    transition: opacity 0.5s ease;


    .button {
        color: white;
        background-color: #e45302;
        border: none;
        border-radius: 3rem;
        padding: 15px 4rem;
        font-size: 1.1rem;

        @media(max-width:580px){
            padding: 10px 1.2rem;
        }
    }
}

.product-card {
    position: relative;

    &__card-wrapper {
        position: relative;
        display: block;
        overflow: hidden;
    }
}

.sale-badge {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    background-color: #000000;
    color: white;
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px
}